---
import BaseLayout from "../layouts/BaseLayout.astro";
import Weather from "../components/Weather.astro";
import BackButton from "../components/BackButton.astro";
---

<BaseLayout title="Caen in World War Two" />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Merville Battery in World War Two</title>

    <link rel="stylesheet" href="/global-info-pages.css" />
  </head>

  <body>
    <header>Merville Battery in World War Two</header>

    <h1>History</h1>

    <p>
      The Merville Gun Battery is a decommissioned coastal fortification in
      Normandy, France, which was built as part of the Germans' Atlantic Wall to
      defend continental Europe from Allied invasion. It was a particularly
      heavily fortified position and one of the first places to be attacked by
      Allied forces during the Normandy Landings commonly known as D-Day. A
      British force under the command of Lieutenant Colonel Terence Otway
      succeeded in capturing this position, suffering heavy casualties. <i
        >More info</i
      >
      <a
        href="https://warfarehistorynetwork.com/article/d-day-disaster-at-the-merville-battery/"
        target="_blank"
        rel="noopener">here</a
      >.
    </p>

    <div class="image-row">
      <img
        src="https://erenow.org/ww/merville-battery-the-dives-bridges/merville-battery-the-dives-bridges.files/image004.jpg"
        alt="German Heavy artillery overlooking the beaches"
      />
      <img
        src="https://warfarehistorynetwork.com/wp-content/uploads/2024/02/WW-Merville-1-HT-May03.jpg"
        alt="British glider troops move in"
      />
      <img
        src="https://www.batterie-merville.com/wp-content/uploads/2022/04/La-Batterie-au-6-juin-1944-3-1024x751.jpg"
        alt="The paratroopers take prisoners"
      />
    </div>

    <h2>Places and Sights</h2>

    <ol class="custom-counter">
      <li>
        Merville Battery Museum — Takes roughly 90 Mins — Entry €9.50 —
        <a
          href="https://www.batterie-merville.com/en/merville-battery/"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
      <li>
        Musée du Débarquement — Takes 1 to 2 hours — Entry €12.90 —
        <a
          href="https://musee-arromanches.fr/en/"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
      <li>
        Museum of the Atlantic Wall — Takes 1 to 2 hours - Entry €8.50 -
        <a
          href="https://museegrandbunker.com/en/"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
    </ol>

    <h3>Accommodation</h3>

    <p>
      <i
        >The following accommodations links are suggestions because of their
        proximity to museums relating to Caen in World War Two:</i
      >
    </p>

    <ul>
      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/255039303.jpg?k=6ee09a80edab86d4dd0aa3ddad97ac11c7a29cddee619f5591a77b397a48836e&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/le-vauban-merville-franceville-plage.en-gb.html?label=merville-FFxpO1nATZFsZq45BYjkDAS394238716710%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-12123034179%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&sid=743d7755c2bfcd8f6a7c24f8a61039a9&gclid=CjwKCAjwobnGBhBNEiwAu2mpFKKiFqBNadtTiCb8xnCqpTzm9EhJw_dYHap9DfyJPwAgeOUIuPFCUBoCuAcQAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=-1451122&dest_type=city&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=5aba899178cb04b9&srepoch=1758396901&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">Le Vauban</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 8.7</li></ul>
      </li>

      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/10257678.jpg?k=9f556cad5c8faee9b9f5b07298adef18c85c68c7f7becc8aee874b83cd8cb91f&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/chez-marion.en-gb.html?label=merville-FFxpO1nATZFsZq45BYjkDAS394238716710%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-12123034179%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&sid=743d7755c2bfcd8f6a7c24f8a61039a9&gclid=CjwKCAjwobnGBhBNEiwAu2mpFKKiFqBNadtTiCb8xnCqpTzm9EhJw_dYHap9DfyJPwAgeOUIuPFCUBoCuAcQAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=-1451122&dest_type=city&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=5aba899178cb04b9&srepoch=1758396901&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">Chez-Marion</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 8.5</li></ul>
      </li>

      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/171421048.jpg?k=22607ae34eda39e110f12c8ce583b0c3dbd836f21f8a0d2cb6c8037cca77d793&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/best-western-la-mare-o-poissons.en-gb.html?label=merville-FFxpO1nATZFsZq45BYjkDAS394238716710%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-12123034179%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&sid=743d7755c2bfcd8f6a7c24f8a61039a9&gclid=CjwKCAjwobnGBhBNEiwAu2mpFKKiFqBNadtTiCb8xnCqpTzm9EhJw_dYHap9DfyJPwAgeOUIuPFCUBoCuAcQAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=-1451122&dest_type=city&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=5aba899178cb04b9&srepoch=1758397126&matching_block_id=23772410_88922383_2_2_0&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">Hotel Best Western La Mare Ô Poissons</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 8.5</li></ul>
      </li>
    </ul>

    <h4>Related Media/Movies</h4>
    <p id="relatedmovies">Assault on Merville (documentary)</p>

    <iframe
      width="1200"
      height="675"
      src="https://www.youtube.com/embed/GuVU6LzfCmY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>

    <h5>Weather</h5>

    <a
      class="weatherwidget-io"
      href="https://forecast7.com/en/40d71n74d01/new-york/"
      data-label_1="MERVILLE BATTERY"
      data-label_2="WEATHER"
      data-theme="original">MERVILLE BATTERY WEATHER</a
    >
    <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = "https://weatherwidget.io/js/widget.min.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, "script", "weatherwidget-io-js");
    </script>

    <footer>
      <p>
        <small>
          &copy; Copyright —
          <a href="https://www.wikipedia.org/" target="_blank" rel="noopener"
            >wikipedia.org</a
          >
          <a href="https://war-documentary.info/" target="_blank" rel="noopener"
            >War-documentary.com</a
          >
          <a
            href="https://www.memorial-caen.com/"
            target="_blank"
            rel="noopener">Memorial-caen.com</a
          >
          <a
            href="https://musee-de-normandie.caen.fr/"
            target="_blank"
            rel="noopener">musee-de-normandie.fr</a
          >
          <a
            href="https://en.normandie-tourisme.fr/discover/d-day-and-the-battle-of-normandy/dday-landing-beaches/sword-beach/"
            target="_blank"
            rel="noopener">NormandyTourism.fr</a
          >
          <a
            href="https://musee.memorial-pegasus.com/en/horaires-et-tarifs/"
            target="_blank"
            rel="noopener">Memorial-Pegasus</a
          >
          <a href="https://www.booking.com/" target="_blank" rel="noopener"
            >booking.com</a
          >
        </small>
      </p>
    </footer>
 <BackButton label="Back to Previous Page" />
  </body>
</html>
