---
import BaseLayout from "../layouts/BaseLayout.astro";
import Weather from "../components/Weather.astro";
import BackButton from "../components/BackButton.astro";
---

<BaseLayout title="Omaha Beach in World War Two" />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Omaha Beach In WW2</title>

    <link rel="stylesheet" href="/global-info-pages.css" />
  </head>

  <body>
    <header>Omaha Beach In World War 2</header>

    <h1>History</h1>

    <p>
      Omaha Beach was one of five beach landing sectors of the amphibious
      assault component of Operation Overlord during the Second World War. On
      June 6, 1944, the Allies invaded German-occupied France with the Normandy
      landings.[1] "Omaha" refers to an 8-kilometer (5 mi) section of the coast
      of Normandy, France, facing the English Channel, from west of
      Sainte-Honorine-des-Pertes to east of Vierville-sur-Mer on the right bank
      of the Douve river estuary. Landings here were necessary to link the
      British landings to the east at Gold with the American landing to the west
      at Utah, thus providing a continuous lodgement on the Normandy coast of
      the Baie de Seine (Bay of the Seine River). Taking Omaha was to be the
      responsibility of United States Army troops, with sea transport, and a
      naval bombardment force provided predominantly by the United States Navy
      and Coast Guard, with contributions from the British, Canadian and Free
      French navies. <i>More info</i>
      <a
        href="https://www.britannica.com/place/Omaha-Beach"
        target="_blank"
        rel="noopener">here</a
      >.
    </p>

    <div class="image-row">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Into_the_Jaws_of_Death_23-0455M_edit.jpg/1024px-Into_the_Jaws_of_Death_23-0455M_edit.jpg"
        alt="US Infantry disembarking the landing craft at Omaha Beach"
      />
      <img
        src="/Attack-on-d-day.jpg"
        alt="Troops under heavy fire amongst the tank traps"
      />
      <img
        src="https://www.gettysburgmuseumofhistory.com/wp-content/uploads/2023/07/German-D-Day-600x382.webp"
        alt="German Bunker with MG 42 facing the US troops"
      />
    </div>

    <h2>Places and Sights</h2>

    <ol class="custom-counter">
      <li>
         Overlord Museum — Takes roughly 2hrs — Entry €9.50 —
        <a href="https://www.overlordmuseum.com/" target="_blank" rel="noopener"
          >CLICK HERE!</a
        >
      </li>
      <li>
        Normandy American Cemetery — Takes 1 to 2 hours (Outdoor) — Entry FREE
        —
        <a
          href="https://virtual360.abmc.gov/normandy/#/stop/1"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
      <li>
        Musée Mémorial d'Omaha Beach — Takes 1 to 2 hours  — Entry €9.50 —
        <a
          href="https://www.musee-memorial-omaha.com/en/"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
      <li>
        Pont du hoc — Takes 45 mins (Outdoor) — Entry FREE
        <a
          href="https://www.abmc.gov/cemeteries-memorials/about-pointe-du-hoc-ranger-monument/"
          target="_blank"
          rel="noopener">CLICK HERE!</a
        >
      </li>
    </ol>

    <h3>Accommodation</h3>

    <p>
      <i
        >The following accommodations links are suggestions because of their
        proximity to museums relating to Caen in World War Two:</i>
    </p>

    <ul>
      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/665704948.jpg?k=f2e3b301e76c6b670645423238f78e542355768cffa09cc62c1ca8abe17d3268&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/du-casino-vierville-sur-mer.en-gb.html?label=normandie-VhAhTyXVW9olD*nQddc0zwS388503879592%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-173256142%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&gclid=CjwKCAjwobnGBhBNEiwAu2mpFFGquHvtkxo5JfRl_0-i9R0xSmNxNIQEk4aHPyspcbzuwDkutMkR9hoC7c8QAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=808&dest_type=region&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=04197c26b5310246&srepoch=1758390026&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">Logis Hotel Du Casino Restaurant Le Mathelia</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 8.3</li></ul>
      </li>

      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/542686665.jpg?k=710bdebac83d3eaf5ed3c49a52143a7fa4c146c320cd6755cf60e3ef2aa10891&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/la-sapiniere-saint-laurent-sur-mer.en-gb.html?label=normandie-VhAhTyXVW9olD*nQddc0zwS388503879592%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-173256142%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&gclid=CjwKCAjwobnGBhBNEiwAu2mpFFGquHvtkxo5JfRl_0-i9R0xSmNxNIQEk4aHPyspcbzuwDkutMkR9hoC7c8QAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=808&dest_type=region&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=1c078292da460484&srepoch=1758393439&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">La Sapinière</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 8.9</li></ul>
      </li>

      <li>
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/349238917.jpg?k=138e465ed8f8ceef24842a0021317ee7e6c80f9c5578576675c724974b8eef4a&o="
          alt="Hotel"
        /><br />
        <a
          href="https://www.booking.com/hotel/fr/club-belambra-location-colleville-sur-mer-omaha-beach.en-gb.html?label=normandie-VhAhTyXVW9olD*nQddc0zwS388503879592%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-173256142%3Alp1007901%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ybz4KBg0DTFCTn0pIbYiAXw&gclid=CjwKCAjwobnGBhBNEiwAu2mpFFGquHvtkxo5JfRl_0-i9R0xSmNxNIQEk4aHPyspcbzuwDkutMkR9hoC7c8QAvD_BwE&aid=373411&ucfs=1&checkin=2026-02-21&checkout=2026-02-23&dest_id=808&dest_type=region&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204&srpvid=1c078292da460484&srepoch=1758393891&atlas_src=sr_iw_title"
          target="_blank"
          rel="noopener">Belambra Clubs Colleville-sur-Mer</a
        >
        <ul style="color: rgb(251, 14, 14);"><li>Score = 7.4</li></ul>
      </li>
    </ul>

    <h4>Related Media/Movies</h4>
    <p id="relatedmovies">Saving Private Ryan 1998</p>
<!--<iframe width="1128" height="634" src="https://www.youtube.com/embed/y4SA9yUDgW8" title="Saving Private Ryan (1998) Theatrical Trailer [5.1] [4K] [FTD-1282]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
    <iframe
      width="1200"
      height="675"
      src="https://www.youtube.com/embed/y4SA9yUDgW8" 
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>

    <h5>Weather</h5>

   <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="OMAHA BEACH" data-label_2="WEATHER" data-theme="original" >OMAHA BEACH WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

    <footer>
      <p>
        <small>
          &copy; Copyright —
          <a href="https://www.wikipedia.org/" target="_blank" rel="noopener"
            >wikipedia.org</a
          >
          <a href="https://war-documentary.info/" target="_blank" rel="noopener"
            >War-documentary.com</a
          >
          <a
            href="https://www.memorial-caen.com/"
            target="_blank"
            rel="noopener">Memorial-caen.com</a
          >
          <a
            href="https://musee-de-normandie.caen.fr/"
            target="_blank"
            rel="noopener">musee-de-normandie.fr</a
          >
          <a
            href="https://en.normandie-tourisme.fr/discover/d-day-and-the-battle-of-normandy/dday-landing-beaches/sword-beach/"
            target="_blank"
            rel="noopener">NormandyTourism.fr</a
          >
          <a
            href="https://musee.memorial-pegasus.com/en/horaires-et-tarifs/"
            target="_blank"
            rel="noopener">Memorial-Pegasus</a
          >
          <a href="https://www.booking.com/" target="_blank" rel="noopener"
            >booking.com</a
          >
        </small>
      </p>
    </footer>
 <BackButton label="Back to Previous Page" />
  </body>
</html>
