---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackButton from "../components/BackButton.astro";
import Weather from "../components/Weather.astro";
---

<BaseLayout title="Caen in World War Two" bodyClass="caen">
  <header>Caen In World War 2</header>

  <h1>History</h1>

  <p>
    In World War II, Caen, France, became a focal point of the Battle of
    Normandy due to its strategic location and infrastructure. The city,
    occupied by German forces, was heavily bombed by the Allies and experienced
    fierce fighting during the liberation efforts. The battle for Caen was a
    costly one, resulting in significant destruction and civilian casualties,
    and it took years to rebuild the city.
    <i>More info</i>
    <a
      href="https://war-documentary.info/battle-of-caen-1944/"
      target="_blank"
      rel="noopener">here</a
    >.
  </p>

  <div class="image-row">
    <img
      src="https://war-documentary.info/wp-content/uploads/2024/10/battle-of-caen-june-july-1944-16.jpg"
      alt="German Soldiers defending"
    />
    <img
      src="https://war-documentary.info/wp-content/uploads/2024/10/battle-of-caen-june-july-1944-07.jpg"
      alt="British troops move in"
    />
    <img
      src="https://war-documentary.info/wp-content/uploads/2024/10/battle-of-caen-liberation01.jpg"
      alt="Liberation of Caen"
    />
  </div>

  <h2>Places and Sights</h2>

  <ol class="custom-counter">
    <li>
      The Caen Memorial museum — Takes roughly 3hrs — Entry €20.80 —
      <a href="https://www.memorial-caen.com/" target="_blank" rel="noopener"
        >CLICK HERE!</a
      >
    </li>
    <li>
      Normandy Museum (Musée de Normandie) — Takes 1 to 2 hours — Entry €7.00 —
      <a
        href="https://musee-de-normandie.caen.fr/"
        target="_blank"
        rel="noopener">CLICK HERE!</a
      >
    </li>
    <li>
      Sword Beach — Transport needed, better with hire car — Entry €9.50 —
      <a
        href="https://en.normandie-tourisme.fr/discover/d-day-and-the-battle-of-normandy/dday-landing-beaches/sword-beach/"
        target="_blank"
        rel="noopener">CLICK HERE!</a
      >
    </li>
    <li>
      Memorial Museum (Pegasus Bridge) — Takes ~75 mins (some outdoor) — Entry
      €9.50 —
      <a
        href="https://musee.memorial-pegasus.com/en/horaires-et-tarifs/"
        target="_blank"
        rel="noopener">CLICK HERE!</a
      >
    </li>
  </ol>

  <h3>Accommodation</h3>

  <p>
    <i
      >The following accommodations links are suggestions because of their
      proximity to museums relating to Caen in World War Two:</i
    >
  </p>

  <ul>
    <li>
      <img
        src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/197021603.jpg?k=39a23dc0fe26e69b7d9ccb0db73a2e12868ad8136a3897a47c9ef9299a203d3d&o="
        alt="Hotel"
      /><br />
      <a
        href="https://www.booking.com/hotel/fr/domitys-les-robes-d-39-airain.html"
        target="_blank"
        rel="noopener">Domitys - Les Robes d'Airain</a
      >
      <ul style="color: rgb(251, 14, 14);"><li>Score = 8.2</li></ul>
    </li>

    <li>
      <img
        src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/748627779.jpg?k=b3e4055791594039d4bcd1e6b58e77f5931b7627c11e55f2809cdfe53a4c3af9&o="
        alt="Hotel"
      /><br />
      <a
        href="https://www.booking.com/hotel/fr/ibis-caen-herouville-savary.html?aid=304142&label=gen173rf-10CAsoTUISY2Flbi1jb3RlLWRlLW5hY3JlSDNYA2hpiAEBmAEzuAEXyAEM2AED6AEB-AEBiAIBogIObG9jYWxob3N0OjQzMjGoAgG4AsjjhccGwAIB0gIkMTExZmRjMWItODlmMi00MmMzLWIyODktODBlN2UxMWRlNWNi2AIB4AIB&sid=743d7755c2bfcd8f6a7c24f8a61039a9&all_sr_blocks=29532611_94398924_2_2_0&checkin=2026-02-06&checkout=2026-02-07&dest_id=-1416098&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=29532611_94398924_2_2_0&hpos=1&matching_block_id=29532611_94398924_2_2_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=29532611_94398924_2_2_0__6867&srepoch=1759605812&srpvid=4cfa879859410140&type=total&ucfs=1&"
        target="_blank"
        rel="noopener">Ibis Caen Porte d’Angleterre</a
      >
      <ul style="color: rgb(251, 14, 14);"><li>Score = 7.6</li></ul>
    </li>

    <li>
      <img
        src="https://static11.com-hotel.com/uploads/hotel/331348/photo/mercure-caen-cote-de-nacre_17480685132.jpg"
        alt="Hotel"
      /><br />
      <a
        href="https://www.booking.com/hotel/fr/mercure-caen-cote-de-nacre.html"
        target="_blank"
        rel="noopener">Mercure Caen Cote De Nacre</a
      >
      <ul style="color: rgb(251, 14, 14);"><li>Score = 8.3</li></ul>
    </li>
  </ul>

  <h4>Related Media/Movies</h4>
  <p id="relatedmovies">The Battle For Caen 1944</p>

  <iframe
    width="1200"
    height="675"
    src="https://www.youtube.com/embed/R2eXL7Y6mmQ?si=f5FYm2CXiyZ8rqdD"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>

  <h5>Weather</h5>

  <Weather locationName="Caen" lat={49.1829} lon={-0.3707} />

  <footer>
    <p>
      <small>
        &copy; Copyright —
        <a href="https://www.wikipedia.org/" target="_blank" rel="noopener"
          >wikipedia.org</a
        >
        <a href="https://war-documentary.info/" target="_blank" rel="noopener"
          >War-documentary.com</a
        >
        <a href="https://www.memorial-caen.com/" target="_blank" rel="noopener"
          >Memorial-caen.com</a
        >
        <a
          href="https://musee-de-normandie.caen.fr/"
          target="_blank"
          rel="noopener">musee-de-normandie.fr</a
        >
        <a
          href="https://en.normandie-tourisme.fr/discover/d-day-and-the-battle-of-normandy/dday-landing-beaches/sword-beach/"
          target="_blank"
          rel="noopener">NormandyTourism.fr</a
        >
        <a
          href="https://musee.memorial-pegasus.com/en/horaires-et-tarifs/"
          target="_blank"
          rel="noopener">Memorial-Pegasus</a
        >
        <a href="https://www.booking.com/" target="_blank" rel="noopener"
          >booking.com</a
        >
      </small>
    </p>
  </footer>

  <BackButton label="Back to Previous Page" />
</BaseLayout>
