---
import "../ww2battlefieldtours/styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World War Two Battlefield Tours</title>
    <script src="/ww2battlefieldtours/java.js" defer></script>
  </head>

  <body>
    <h1 class="page-title">
      <img
        src="/ww2battlefieldtours/finished-title.png"
        class="img-h1"
        alt="World War Two Battlefield Tours"
      />
    </h1>

    <div class="container">
      <div class="divs">
        <div class="one">
          <div class="flag">
            <div class="stripe blue"></div>
            <div class="stripe white"></div>
            <div class="stripe red"></div>
          </div>
          <div style="text-align:center">
            <p>FRANCE</p>
          </div>

          <button onclick="fireBullets()">FIRE</button>
          <audio id="gunshot" src="/ww2battlefieldtours/gunshot.mp3" preload="auto"></audio>
        </div>

        <div class="two">
          BELGIUM
          <p>COMING SOON!</p>
        </div>

        <div class="three">
          LUXEMBOURG
          <p>COMING SOON!</p>
        </div>

        <div class="four">
          HOLLAND
          <p>COMING SOON!</p>
        </div>
      </div>
    </div>
  </body>
</html>

<!--https://flowbite.com/docs/getting-started/svelte/ was another great resoiurce but unfortunately i found too late.
I was rapidly running out of time for my submission, If i were to start again I would definitely code cleaner. I tried
moving evrything into sub folders but I broke my project , lost my way and panicked when it didn`t work. With practice
i`m sure this wouldn`t be a problem. I have thouroughly enjoyed this course, lrearned a lot and would highly recommend 
our tutor he is a valuable asset to UCD PA-->